/*!
 *  build: 杭州数蛙科技有限公司 
 *  copyright: dgiot-dashboard 
 *  author: h7ml(h7ml@qq.com) 
 *  time: Sat Sep 18 2021 07:21:29 GMT+0000 (Coordinated Universal Time)
 */
[data-v-3db22ea4]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.testbedpump[data-v-3db22ea4]{box-sizing:border-box;display:flex;width:100%;min-height:875px}.testbedpump .bedtable[data-v-3db22ea4]{margin-top:20px}.testbedpump[data-v-3db22ea4]  .deviceheader{display:flex;width:100%;height:60px;padding:10px;background:green}.testbedpump[data-v-3db22ea4]  .deviceheader div{height:40px;margin:0 auto;line-height:40px;text-align:center}.testbedpump[data-v-3db22ea4]  .deviceheader .headerone{width:100px;color:#fff;background:#409eff}.testbedpump[data-v-3db22ea4]  .deviceheader .headertwo{width:100px;background:#909399}.testbedpump[data-v-3db22ea4]  .deviceheader .headerthree{width:200px;background:#67c23a}.testbedpump[data-v-3db22ea4]  .deviceheader .headerfourth{color:#fff}.testbedpump[data-v-3db22ea4]  .devicetwo{display:flex;width:100%;height:60px;padding:10px;background:#06c}.testbedpump[data-v-3db22ea4]  .devicetwo div{height:40px;margin:0 auto;line-height:40px;text-align:center}.testbedpump[data-v-3db22ea4]  .devicetwo .devicetwoone{width:100px;color:#fff;background:#409eff}.testbedpump[data-v-3db22ea4]  .devicetwo .devicetwotwo{width:100px;background:#67c23a}.testbedpump[data-v-3db22ea4]  .devicetwo .devicetwothree{width:200px;color:#fff}.testbedpump[data-v-3db22ea4]  .devicetwo .devicetwofourth{color:red}.testbedpump[data-v-3db22ea4]  .el-select{width:100%}.testbedpump[data-v-3db22ea4]  .el-checkbox-group .el-checkbox__label{line-height:2}

.testbedpump .avatar-uploader .el-upload {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
}
.testbedpump.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.testbedpump .avatar-uploader-icon {
  width: 250px;
  height: 178px;
  font-size: 28px;
  line-height: 178px;
  color: #8c939d;
  text-align: center;
  border: 1px dashed #cccccc;
}
.testbedpump .avatar {
  display: block;
  width: 250px;
  height: 178px;
}
.image-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  font-size: 30px;
  color: #909399;
  background: #f5f7fa;
}
.testbedpump .text {
  font-size: 14px;
}
.testbedpump .item {
  margin-bottom: 18px;
}
.testbedpump .clearfix:before,
.testbedpump .clearfix:after {
  display: table;
  content: '';
}
.testbedpump .clearfix:after {
  clear: both;
}
.testbedpump .el-divider__text.is-left {
  font-size: 16px;
}
@media screen and (max-width: 1350px) {
.testbedpump .el-col {
    width: 100%;
}
}

[data-v-7bc7ec9c]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.u_shield[data-v-7bc7ec9c]{box-sizing:border-box;display:flex;width:100%;min-height:100%}.u_shield .u_shieldright .blocktable[data-v-7bc7ec9c]{margin-top:20px}.u_shield[data-v-7bc7ec9c]  .el-dialog__body ::v-deep .el-select{width:100%}
[data-v-421d9e51]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.CompanyAuthentication[data-v-421d9e51]{box-sizing:border-box;width:100%;height:100%;padding:20px;padding:20px 20px 40px 20px;background:#fff}.CompanyAuthentication .CompanyAuthentication_top[data-v-421d9e51]{box-sizing:border-box;width:100%;height:auto;padding-left:40px}.CompanyAuthentication .CompanyAuthentication_top .pump_table[data-v-421d9e51]{margin-top:10px}.CompanyAuthentication .CompanyAuthentication_top .block[data-v-421d9e51]{margin-top:20px}.CompanyAuthentication[data-v-421d9e51]  .el-select{width:100%}.CompanyAuthentication[data-v-421d9e51]  .el-cascader{width:100%}.CompanyAuthentication[data-v-421d9e51]  .el-dialog{margin-bottom:40px}

.CompanyAuthentication .avatar-uploader .el-upload {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
}
.CompanyAuthentication.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.CompanyAuthentication .avatar-uploader-icon {
  width: 250px;
  height: 178px;
  font-size: 28px;
  line-height: 178px;
  color: #8c939d;
  text-align: center;
}
.CompanyAuthentication .avatar {
  display: block;
  width: 250px;
  height: 178px;
}
.image-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  font-size: 30px;
  color: #909399;
  background: #f5f7fa;
}

[data-v-24346624]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.personpump[data-v-24346624]{box-sizing:border-box;width:100%;height:100%;padding:20px 20px 40px 20px;background:#fff}.personpump .empower_top .block_table[data-v-24346624]{margin-top:20px}.personpump .empower_top .button_group[data-v-24346624]{box-sizing:border-box;padding-left:100px}.personpump .empower_top .block_page[data-v-24346624]{margin-top:20px}table.verify-info[data-v-24346624]{width:100%;text-align:center;border-collapse:collapse}table.verify-info tr[data-v-24346624]{line-height:28px}

.personpump .avatar-uploader .el-upload {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
}
.personpump.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.personpump .avatar-uploader-icon {
  width: 250px;
  height: 178px;
  font-size: 28px;
  line-height: 178px;
  color: #8c939d;
  text-align: center;
}
.personpump .avatar {
  display: block;
  width: 250px;
  height: 178px;
}
.image-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  font-size: 30px;
  color: #909399;
  background: #f5f7fa;
}
.personpump .el-tabs__header {
  margin-top: 20px;
}
.personpump .el-select {
  width: 100%;
}
.personpump .el-cascader {
  width: 100%;
}
.personpump .el-select {
  width: 100%;
}
.personpump .el-date-editor {
  width: 100%;
}

